.App {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url('./image/sea.jpg');
  background-size: 100%;
  font-family: 'Montserrat', sans-serif;
}
.modal{
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  font-size: 25px;
}
.text-error{
  font-size: 15px;
  color: red;
}
.user-wrapper {
  display: flex;
  width: 70%;
  height: 20%;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  font-size: 40px;
  font-weight: 500;
  color: #000000;
}
.list-wrapper{
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 40px black;
  font-size: 28px;
  font-weight: 500;
}
.input-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.add-button{
  font-size: 20px;
  width: 150px;
  height: 50px;
}
.item-wrapper{
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.item-wrapper>span{
  font-size: 20px!important;
  font-weight: 700;
}
.img-wrapper{
  display: flex;
  width: 30%;
  justify-content: space-between;
  flex-direction: row;
}
img{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
input{
  border: 0;
  outline: none;
  border-bottom: 2px solid #000000;
  font-size: 20px;
}

@media screen and (max-width: 1024px) and (min-width: 300px){
  .user-wrapper{
    width: 90%;
    flex-direction: column;
  }
  .user-wrapper>span{
    font-size: 30px;
  }
  .list-wrapper{
    width: 90%;
  }
  .list-wrapper>span{
    margin-bottom: 10px;
  }
  .input-wrapper{
    width: 90%;
  }
  .item-wrapper{
    width: 90%;
  }
}
@media screen and (max-width: 768px) and (min-width: 500px){
  .user-wrapper>span{
    font-size: 40px!important;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px){
  .user-wrapper{
    flex-direction: row!important;
  }
  .user-wrapper>span{
    font-size: 40px!important;
  }
  .list-wrapper{
    width: 80%!important;
  }
}
